body {
    margin:0px;
}
#contianer{
    width:100%;
    background:#F5F7FA;
    text-decoration: none;
    color:darkgreen;
}
a {
    cursor: pointer;
    text-decoration: none;
}
#user {
    height:40px;
    width:100%;
    background: #15A230;
    text-align: right;
}
#userName{
    font-size:30px;
    margin-right: 40px;
}
#intruduction {
    width:1000px;
    height:90px;
    margin:auto;
}
#intruduction img {
    width:90px;
    margin:10px 20px;
    float: left;
}
#intruduction p {
    float:right;
    font-size: 20px;
    margin-right: 700px;
}
#meum {
    width:1000px;
    height:49px;
    margin:auto;
    background: #15A230;
}
.inmeum {
    background: #15A230;
    font-size: 20px;
    padding: 9px 60px;
    line-height: 43px;
    text-decoration: none;
}
.inmeum:hover {
    background: yellowgreen;
    text-decoration: none;
}
#main {
    width:1000px;
    margin:auto;
}
.reply {
    width:960px;
    background: white;
    padding:20px 20px;
    border:1px solid #d3d3d3;
}
.reply .user {
    height:135px;
    width:97px;
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}
.reply .user img {
    width:97px;
    height:97px;
}
.reply .user div {
    text-align: center;
    background: #CADEEC;
}
.reply-content {
    width:770px;
    font-size: 20px;
    float: left;
    margin-left: 30px;
    text-overflow: clip;
    word-wrap:break-word;
}
.main-reply {
    height:auto!important;
    height: 270px;
    min-height:270px;
    font-size:20px;
}
.control {
    background: #F5F7FA;
    height:30px;
    text-align: right;
}
.control a {
    color:silver;
    font-size: 17px;
}
.control span {
    color:silver;
    font-size: 16px;
}
.f-reply {
}
.f-reply-content {
    background:#F5F7FA;
    font-size:17px;
}
.f-head {
    height: 37px;
    width: 37px;
    float: left;
    margin: 13px 16px;
}
.fr-div {
}
.fr-content {
    height:auto!important;
    height: 60px;
    min-height:60px;
}
.fr-control {
    height: 23px;
    background: #F5F7FA;
    text-align: right;
    border-bottom:1px solid #CADEEC;
}
.fr-control span {
    font-size: 16px;
}
.fr-control a {
    font-size: 17px;
}
.con-re {
    padding: 1px 15px;
    background: #CADEEC;
}
.wc {
    background: #CADEEC;
    font-size: 15px;
    padding: 5px 2px;
    width:100px;
    margin: 5px 650px 5px ;
    text-align: center;
    float:left;
}
.f-istream {
    background:#F5F7FA;
    height: 100px;
}
.f-istream textarea{
    width:660px;
    margin:5px 80px;
    resize: none;;
}
.f-istream input {
    width:100px;
    height: 30px;
    margin-left: 650px;
}
#istream {
    width:1000px;
    height:500px;
    background:#CADEEC;
    margin:auto;
}
#page {
    width:940px;
    height:70px;
    background:#15A230;
    margin:auto;
    line-height: 70px;
    padding-left:60px;
}
.pageblock {
    background:#A4C937;
    border:1px solid;;
    padding:5px 10px;
    text-decoration:none;
}
.pageblock:hover{
    background:#15A230;
    text-decoration: none;
}
.pageblock_now {
    border:1px solid;;
    padding:5px 10px;
    text-decoration:none;
}
table {
    margin:auto;
    padding-top:50px;
}
#inpti {
    width:628px;
    height:32px;
}
#public {
    width:650px;
    height: 270px;
    padding-left: 5px;
}
[type='submit'] {
    width:150px;
    height:50px;
}
#verifyi {
    width:100px;
    height:30px;
    position: relative;
    top:10px;

}
#verifyt {
    width:100px;
    height:30px;
}

